#videoTaggingPage {
    overflow: scroll;
    width: 100%;
    height: 100vh;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    background: #c4cfedb9;
}

#videoTaggingPage .container {
    display: flex;
    flex-direction: column;
}

#videoTaggingPage #uploadWarning {
    color: var(--warning-color);
    font-weight: bold;
}

#videoTaggingPage #uploadForm {
    
    padding: 2em; 
    max-width: 80%;
    margin: 0 auto;
}

#videoTaggingPage #uploadForm .uploadControls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#videoTaggingPage #uploadForm h2 {
    margin: 1em;
}

#videoTaggingPage #uploadForm .uploadControls button:enabled, button:disabled {
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    border: none;
    padding: .1em .5em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    cursor: pointer;
    outline: none;
    user-select: none;
    background: rgba(75, 40, 109);
    color: #fff;
    border-radius: .3em;
    white-space: nowrap;
    
}
#videoTaggingPage #uploadForm .uploadControls button:enabled {
    background: rgba(75, 40, 109);
    color: #fff;
}

#videoTaggingPage #uploadForm .uploadControls button:disabled {
    background: rgba(128, 128, 128, 1);
    color: rgba(169, 169, 169, 1);
}

#videoTaggingPage h3 {
    margin: 1em;
    text-align: center;
}

#videoTaggingPage span {
    font-weight: bold;
}


#videoTaggingPage #videosList #videoInfoBlock {
    margin: 2em;
}

#videoTaggingPage #videoContainerDetailed {
    padding: 2em;
}

@media (max-width: 768px) {
    #videoTaggingPage {
        flex-direction: column;
        font-size: 3em;
        min-width: 430px;
    } 

    #videoTaggingPage #videoContainer {
        text-align: center;
        min-width: 90%;
    }

    #videoTaggingPage #uploadForm .uploadControls button:enabled, button:disabled {
        
        max-width: 90%;
    }
}
