#videoTaggingPage {
    width: 100%;
    height: 100vh;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    background: #c4cfedb9;
}

#videoTaggingPage #uploadWarning {
    color: var(--warning-color);
    font-weight: bold;
}

#videoTaggingPage #uploadForm {
    
    padding: 2em; 
    max-width: 80%;
    margin: 0 auto;
}

#videoTaggingPage #uploadForm .uploadControls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#videoTaggingPage #uploadForm .uploadControls button:enabled {
    padding: 1em 2em;
    background: rgba(75, 40, 109);
    max-width: 50%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    cursor: pointer;
}

#videoTaggingPage #uploadForm .uploadControls button:disabled {
    padding: .1em 1em;
    border: none;
    background: gray;
    color: darkgray;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    cursor: pointer;
}


#videoTaggingPage h3 {
    margin: 1em;
}

#videoTaggingPage span {
    font-weight: bold;
}

#videoTaggingPage #videoContainer h3 {
    margin: 1em 0;
}

#videoTaggingPage #videoContainer {
    text-align: left;
    /* width: 25em; */
    background: transparent;
    padding: 2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    color: #1d3062;
}

#videoTaggingPage #videoContainer li {
    list-style: none;
}

#videoTaggingPage #videoContainer #videoInfoBlock {
    margin: 2em;
}

@media (max-width: 768px) {
    #videoTaggingPage {
        font-size: 2em;
        min-width: 430px;
    } 

    #videoTaggingPage #videoContainer {
        text-align: center;
        min-width: 90%;
    }

    #videoTaggingPage #uploadForm .uploadControls button:enabled {
        
        max-width: 90%;
    }
}
