#piiLabels {
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow-y: auto;
    scrollbar-width: thin;
}

#piiLabels .button-container {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

#piiLabels button {
    position: relative;
    width: 13em;
    padding: .1em .5em .1em .1em;
    border: none;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    outline: none;
    background: var(--telus-color-2);
    color: var(--link-text-1);
    user-select: none;
    border-radius: .3em;
}

#piiLabels button:hover {
    color: var(--link-hover-text-1);
}

#piiLabels button.disabled {
    cursor: not-allowed;
    background: grey;
}

#piiLabels button:hover.disabled {
    color: var(--link-text-1);
}

#piiLabels button.margin-top {
    margin-top: 1em;
}

#piiLabels button#undo,
#piiLabels button#delete {
    background: red;
    color: white;
}

#piiLabels button#undo:hover,
#piiLabels button#delete:hover {
    background: red;
    color: var(--link-text-1);
}

#piiLabels button span.hotkey {
    position: absolute;
    right: .3em;
    color: blue;
}


#piiLabels .button-container a.description {
    margin-top: .15em;
    cursor: pointer;
}

#piiLabels .button-container a.description:hover {
    color: var(--telus-color-2);
}