#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: .2em;
  /* gap: .5em; */
  background: var(--telus-color-1);
  overflow: hidden;
  height: 1.4em;
  min-height: 1.4em;
  max-height: 1.4em;
  box-shadow: 1px 2px 5px var(--telus-color-1);
  z-index: 100;
}

#navbar span {
  position: absolute;
  left: 11em;
  font-weight: bold;
  color: var(--link-text-1);
  line-height: 1.2;
}

#navbar #userName { 
  color: var(--link-text-1);
  font-weight: bold;
  
}

#navbar a {
  padding: 0 .5em;
  border: none;
  background: transparent;
  color: var(--link-text-1);
  font-weight: bold;
  font-size: .9em;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  margin: auto 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  line-height: 1.2em;
  user-select: none;
}

#navbar a:hover {
  color: var(--link-hover-text-1);
}

#navbar .selected {
  border-left: .5em solid var(--telus-color-3);
}

#navbar img {
  position: absolute;
  left: .5em;
  height: 1.2em;
  margin: auto 0;
  cursor: pointer;
}

#navbar .copy-message-id {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-weight: bold;
  line-height: 1.2em;
}